@charset "utf-8";
/*===================================================================================================
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 

〇 GLOBAL 〇

□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
====================================================================================================*/


body {
    font-family: "Murecho";
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 0 500px 0;
}

.title{
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    width: 100%;
    background: $grade-color;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .caption{
        font-family: 'Antonio';
        p{
            display: inline-block;
            background: #fff;
            color: $red-color;
            padding: 5px 30px 5px 30px;
            letter-spacing: 3px;
            font-size: 20px;
        }
    }
    h1{
        font-family: 'Antonio';
        text-align: center;
        position: relative;;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 6px;
        position: relative;
        top:-2px;
        color: #fff;
        padding: 20px 0px 20px 20px;
        border-left:4px;
        border-top:4px;

    }
}