@charset "utf-8";

/*============================================
	― 変数設定
=============================================*/
$red-color: #ef3a41;
$orange-color: #ec6030;
$grade-color: linear-gradient(45deg, #eb7925 0%, #f1214d 100%);
$box-shadow-plane: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
$box-shadow-main: rgba(236, 236, 236, 0.4) 0 7px 29px 0;
$radial-grade-color: radial-gradient(at 0% 0%, hsla(15,95%,34%,1) 0px, transparent 50%),radial-gradient(at 100% 100%, hsla(7,95%,13%,1) 0px, transparent 50%);
$grade-color02: linear-gradient(90deg, #eb7925 0%, #f1214d 45%, #ffbc2c, #f1214d 85%, #eb7925 90% 100%);
$brown-grade-color: linear-gradient(90deg, #25170d 0%, #150e10 100%);
$black34-color: #343434;

