/* =========================================================================  */

/* text-exhange-01 */

/* ========================================================================= */

.text-exchange-01 {
	display: flex;
	.plane,
	.exchange {
		.item {
			background: linear-gradient(45deg, 
				#dc42a4 0%,
				#dc7146 70%,
				#e2b24a 100%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
			font-size: 5.2rem;
			font-family: "Antonio";
			font-weight: 400;
		}
	}
	.plane {
		display: inline-block;
	}

	.exchange {
		width: 30rem;
		border: solid 3px #dc7b42;
		margin: 0 2rem 0 2rem;
		perspective:800px;
		visibility:hidden;
		position: relative;
		overflow: hidden;
		text-align: center;
		.item  {
			position:absolute;
			text-align: center;
			display:inline-block;
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			white-space:nowrap;
		}
	}
}


/* =========================================================================  */

/* text-exhange-02 */

/* ========================================================================= */

.text-exchange-02 {
	display: flex;
	.plane,
	.exchange {
		.item {
			background: linear-gradient(45deg, 
				#dc42a4 0%,
				#dc7146 70%,
				#e2b24a 100%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
			font-size: 5.2rem;
			font-family: "Antonio";
			font-weight: 400;
		}
	}
	.plane {
		display: inline-block;
	}

	.exchange {
		width: 30rem;
		margin: 0 2rem 0 2rem;
		perspective:800px;
		visibility:hidden;
		position: relative;
		.item  {
			position:absolute;
			display:inline-block;
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			white-space:nowrap;
			width: 100%;
			text-align: center;

			.border {
				position: absolute;
				left: 0;
				bottom: -0.5rem;
				background: linear-gradient(45deg, 
				#dc42a4 0%,
				#dc7146 70%,
				#e2b24a 100%
				);
				width: 100%;
				height: 3px;
				transform: scale(0);

			}
		}
	}
}



/* =========================================================================  */

/* text-exhange-03 */

/* ========================================================================= */

.text-exchange-03 {
	display: flex;
	.plane,
	.exchange {
		.item {

			font-size: 5.2rem;
			font-family: "Antonio";
			font-weight: 400;
		}
	}
	.plane {
		display: inline-block;
		.item {
			background: linear-gradient(45deg, 
				#dc42a4 0%,
				#dc7146 70%,
				#e2b24a 100%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
		}
	}

	.exchange {
		width: 30rem;
		background: linear-gradient(45deg, 
			#dc42a4 0%,
			#dc7146 70%,
			#e2b24a 100%
		);
		box-shadow: rgba(220, 116, 67, 0.3) 0px 7px 29px 0px;
		margin: 0 2rem 0 2rem;
		perspective:800px;
		visibility:hidden;
		position: relative;
		overflow: hidden;
		text-align: center;
		&::before{
			content :"";
			position: absolute;
			width: calc(100% - 10px);
			height:  calc(100% - 10px);
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			border: solid 2px #fff;
			opacity: 0.7;
			
		}
		.item  {
			position:absolute;
			display:inline-block;
			text-align: center;
			left:50%;
			top:50%;
			transform:translate(-50%, -50%);
			white-space:nowrap;
			color: #fff;
		}
	}
}