/* =========================================================================  */

/* text-roation-01 */

/* ========================================================================= */

.text-rotation-01 {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	position: relative;
	span {
		display: inline-block;
		font-family: Antonio, sans-serif;
		font-weight: 400;
		background: linear-gradient(45deg, 
			#e37780 0%,
			#ed9c81 100%
		);
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		background-clip: text;
		display: inline-block;
		padding-right: 4rem;
		font-size: 12rem;
		letter-spacing: 1rem;
	}
}


/* =========================================================================  */

/* text-roation-02 */

/* ========================================================================= */

.text-rotation-02 {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	position: relative;
	span {
		display: inline-block;
		font-family: Antonio, sans-serif;
		font-weight: 400;
		background: linear-gradient(45deg, 
			#e37780 0%,
			#ed9c81 100%
		);
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		background-clip: text;
		display: inline-block;
		padding-right: 4rem;
		font-size: 12rem;
		letter-spacing: 1rem;
	}
}



/* =========================================================================  */

/* text-roation-03 */

/* ========================================================================= */



.text-rotation-03 {
	white-space: nowrap;
	width: 100%;
	position: relative;
	.text-front,
	.text-back{
		font-family: Antonio, sans-serif;
		font-weight: 400;
		font-size: 12rem;
		letter-spacing: 1rem;
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
	}
	.text-back{
  		width: max-content;  
		background: linear-gradient(45deg, 
			#e37780 0%,
			#ed9c81 100%
		);
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		background-clip: text;
		z-index: 1;
	}
	.text-front{
		-webkit-text-stroke: 2px #e37780;
		text-stroke: 2px #e37780;
		z-index: 3;
		color: transparent;
	}
	.box {
		position: relative;
		z-index: 2;
		width: 1000px;
		height: 300px;
		margin: 0 auto 0;
						background: linear-gradient(45deg, 
				#ffd0d4 0%,
				#ffc7b4 100%
			);
	}
}



/* =========================================================================  */

/* text-roation-04 */

/* ========================================================================= */

.text-rotation-04 {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	position: relative;
	writing-mode: vertical-lr;
	span {
		
		display: inline-block;
		font-family: Antonio, sans-serif;
		font-weight: 400;
		background: linear-gradient(45deg, 
			#e37780 0%,
			#ed9c81 100%
		);
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		background-clip: text;
		display: inline-block;
		padding-right: 4rem;
		font-size: 12rem;
		letter-spacing: 1rem;
	}
}
