/* =========================================================================  */

/* flip-image-01 */

/* ========================================================================= */
.flip-wrapper-01 {
	position: relative;
	width: 600px;
	aspect-ratio: 16 / 9;
	margin: 0 auto 0;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&.img-01{
			z-index: 2;

		}
		&.img-02{
			z-index: 1;

		}
	}
}

/* =========================================================================  */

/* flip-image-02 */

/* ========================================================================= */
.flip-wrapper-02 {
	position: relative;
	width: 600px;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	margin: 0 auto 0;
  	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		&.img-01{
			z-index: 4;
		}
		&.img-02{
			z-index: 3;
		}
		&.img-03{
			z-index: 2;
		}
	}
}

/* =========================================================================  */

/* flip-image-03 */

/* ========================================================================= */
.flip-wrapper-03 {
	position: relative;
	width: 600px;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&.img-01{
			z-index: 3;
		}
		&.img-02{
			z-index: 2;
		}
	}

}
