/* =========================================================================  */

/* demo-03 */

/* ========================================================================= */

.demo-03 {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	
	.ripple-03 {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 7;
		left: 0;
		right: 0;
		overflow: hidden;
		span {
			position: absolute;
			display: block;
			border-radius: 50%;
			width: 10vh;
			height: 10vh;
			opacity: 0;
			&:nth-child(1){
				right: 0;
				top: 0;
				z-index: 1;
				background: linear-gradient(45deg, 
					#e37780 0%,
					#ed9c81 100%
				);

			}
			&:nth-child(2){
				left: 0;
				bottom : 0;
				z-index: 2;
				background: linear-gradient(45deg, 
					#ec7f11 0%,
					#c62530 100%
				);

			}
		}
	}
	.radial-01 {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.bg {
			position: absolute;


			&.bg-01 {
				left: 0;
				top: 0;
				transform-origin: left top;
				background: radial-gradient(at 20% 20%, hsla(343,100%,76%,1) 0px, transparent 50%);
				width: 30vw;
				height: 30vw;
				
				opacity: 1.0;
			}
			&.bg-02 {
				right: 0;
				bottom: 0;
				transform-origin: right bottom;
				background: radial-gradient(at 100% 100%, rgb(255, 155, 121) 0px, transparent 50%);
				width: 45vw;
				height: 45vw;
				opacity: 0.9;
			}
		}
	}
	.shape-03 {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		opacity: 0.7;
		span {
			position: absolute;
			transform: translateY(30px);
			opacity: 0;
			&::before,
			&::after{
				position: absolute;
				width: 100%;
				height: 100%;
				content: "";
				transform: skew(-15deg);
			}
			&::before{
				z-index: 2;
				background: linear-gradient(45deg, #e37780 0%, #ed9c81 100%);
			}
			&::after{

				z-index: 1;
				box-shadow: rgba(241, 138, 98, 0.4) 0px 7px 29px 0px;

			}
			&:nth-child(1) {
				width: 120px;
				height: 120px;
				top: 0%;
				left: 5%;
				
			}
			&:nth-child(2) {
				width: 250px;
				height: 250px;
				top: 50%;
				left: -10%;
			}
			&:nth-child(3) {
				width: 80px;
				height: 80px;
				top: 10%;
				right: 5%;
			}
			&:nth-child(4) {
				width: 180px;
				height: 180px;
				top: 60%;
				left: 40%;
			}
			&:nth-child(5) {
				width: 120px;
				height: 120px;
				bottom: 10%;
				right: -1%;
			}
		}
	}
	.container{
		position: relative;
		z-index: 2;
		.text-rotation-03 {
			white-space: nowrap;
			width: 100%;
			position: relative;
			.text-front,
			.text-back{
				font-family: Antonio, sans-serif;
				font-weight: 400;
				font-size: 12rem;
				letter-spacing: 1rem;
				position: absolute;
				top: 50%;
				transform: translate(0,-50%);
			}
			.text-back{
				z-index: 1;
				width: max-content;  
				background: linear-gradient(45deg, 
					#e37780 0%,
					#ed9c81 100%
				);
				-webkit-text-fill-color: transparent;
				text-fill-color: transparent;
				background-clip: text;
				z-index: 2;
			}
			.text-front{
				-webkit-text-stroke: 2px #e37780;
				text-stroke: 2px #fff;
				z-index: 3;
				color: transparent;
			}
			.box {
				position: relative;
				z-index: 2;
				width: 100rem;
				height: 40rem;
				margin: 0 auto 0;
				.flip-wrapper-02 {
					position: relative;
					width: 100%;
					height: 100%;
					overflow: hidden;
					margin: 0 auto 0;
					img {
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
						&.img-01{
							z-index: 4;
						}
						&.img-02{
							z-index: 3;

						}
						&.img-03{
							z-index: 2;

						}
					}
				}
			}
		}

		.text-pr {
			max-width: 1920px;
			padding: 0 4% 0 4%;
			margin: 3rem auto 0;
			.text-exchange-03 {
				display: flex;
				.plane,
				.exchange {
					.item {

						font-size: 5.2rem;
						font-family: "Antonio";
						font-weight: 400;
					}
				}
				.plane {
					display: inline-block;
					.item {
						background: linear-gradient(45deg, 
							#dc42a4 0%,
							#dc7146 70%,
							#e2b24a 100%
						);
						background-clip: text;
						-webkit-text-fill-color: transparent;
						text-fill-color: transparent;
					}
				}

				.exchange {
					width: 30rem;
					background: linear-gradient(45deg, 
						#dc42a4 0%,
						#dc7146 70%,
						#e2b24a 100%
					);
					
					box-shadow: rgba(220, 116, 67, 0.3) 0px 7px 29px 0px;
					margin: 0 2rem 0 2rem;
					perspective:800px;
					visibility:hidden;
					position: relative;
					overflow: hidden;
					text-align: center;
					&::before{
						content :"";
						position: absolute;
						width: calc(100% - 10px);
						height:  calc(100% - 10px);
						left:50%;
						top:50%;
						transform:translate(-50%, -50%);
						border: solid 2px #fff;
						opacity: 0.7;
						
					}
					.item  {
						position:absolute;
						display:inline-block;
						text-align: center;
						left:50%;
						top:50%;
						transform:translate(-50%, -50%);
						white-space:nowrap;
						color: #fff;
					}
				}
			}
			.text-appear-03 {
				position: relative;
				width: 80%;
				margin: 3rem 0 0 20%;
				p {
					color: #333333;
					line-height: 2.0;
					margin: 2rem 0 0 0;
					font-size: 1.1rem;
					letter-spacing: 0.1rem;
					font-size: 1.7rem;
					.inner {
						display: inline-block;
						position: relative;
						.phrase{
							transform: translateY(30px);
							filter: blur(8px);
						}
						.reveal{
							position: absolute;
							width: 100%;
							height: 100%;
							background: #e96d78;
							z-index: 2;
							transform: translateX(0);
						}
					}

				}

			}

		}




	}

}