/* =========================================================================  */

/* border-01 */

/* ========================================================================= */


.border-01 {
    width: 100%;
    span {
        width: 0;
        height: 2px;
        display: block;
        opacity: 0;
        background: linear-gradient(45deg, 
            #dc42a4 0%,
            #dc7146 70%,
            #e2b24a 100%
        );
    }
}

/* =========================================================================  */

/* border-02 */

/* ========================================================================= */


.border-02 {
    position: relative;
    width: 100%;
    span {
        display: block;
        position: absolute;
        right: 0;          /* ← 右基準に */
        left: auto;
        width: 0%;         /* ← 初期状態 */
        height: 2px;
        background: linear-gradient(45deg, #dc42a4, #dc7146, #e2b24a);
        opacity: 0;     
    }
}

/* =========================================================================  */

/* border-03 */

/* ========================================================================= */


.border-03 {
	position: relative;
	width: 90%;
	height: 90%;
	span {
		position: absolute;
		background: linear-gradient(45deg, #dc42a4, #dc7146, #e2b24a);
		opacity: 0;
		&.border-left {
			top: 0;
			left: 0;
			width: 2px;
			height: 0;
		}
		&.border-top {
			top: 0;
			left: 0;
			height: 2px;
			width: 0;
		}
		&.border-right {
			bottom: 0;
			right: 0;
			width: 2px;
			height: 0;
		}
		&.border-bottom {
			bottom: 0;
			right: 0;
			height: 2px;
			width: 0;
		}
	}
}


/* =========================================================================  */

/* border-04 */

/* ========================================================================= */


.border-04 {
	position: relative;
	width: 90%;
	height: 90%;
	span {
		position: absolute;
		background: linear-gradient(45deg, #dc42a4, #dc7146, #e2b24a);
		opacity: 0;
		width: 100%;
		&.border-left {
			top: 0;
			left: 0;
			width: 12px;
			height: 0;
		}
		&.border-top {
			top: 0;
			left: 0;
			height: 12px;
			width: 0;
		}
		&.border-right {
			top: 0;
			right: 0;
			width: 12px;
			height: 0;
		}

		&.border-bottom {
			bottom: 0;
			right: 0;
			height: 12px;
			width: 0;
		}
	}
 
}



/* =========================================================================  */

/* border-05 */

/* ========================================================================= */



.border-05 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 50%; /* お好みで */
	span {
		display: block;
		height: 2px;
		width: 0%;
		background: linear-gradient(90deg, #dc42a4, #e2b24a);
		opacity: 0;
	}
}




/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 1024px～1280px(小型PC)までのモニタで適用	◆

start---------------------------------------------------------------------------- */

@media screen and (width >= 1024px) and (width <= 1280px) {

} /* 1024px～1280px responsive-close */

/* end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/


/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 768px～1023px(iPad縦からiPad横)までのモニタで適用	◆

start---------------------------------------------------------------------------- */

@media screen and (width >= 768px) and (width <= 1023px) {

} /* 768px～1023px responsive-closed */

/* end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/


/**********************************************************************************
 □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 

◆	Stylesheet: 767pxまで(スマホ)のモニタで適用	◆

□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
start---------------------------------------------------------------------------- */
@media screen and (width <= 767px) {

} /* 767px responsive-closed */

/* end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/




