/* =========================================================================  */

/* radial-01 */

/* ========================================================================= */


.radial-01 {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.bg {
		position: absolute;
		&.bg-01 {
			left: 0;
			top: 0;
			transform-origin: left top;
			background: radial-gradient(at 20% 20%, hsla(343,100%,76%,1) 0px, transparent 50%);
			width: 30vw;
			height: 30vw;
			opacity: 1.0;
		}
		&.bg-02 {
			right: 0;
			bottom: 0;
			transform-origin: right bottom;
			background: radial-gradient(at 100% 100%, rgb(255, 155, 121) 0px, transparent 50%);
			width: 45vw;
			height: 45vw;
			opacity: 0.9;
		}
	}
}


/* =========================================================================  */

/* radial-02 */

/* ========================================================================= */


.radial-02 {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.bg {
		position: absolute;
		&.bg-01 {
			left: 0;
			top: 0;
			transform-origin: left top;
			background: radial-gradient(at 20% 20%, hsla(343,100%,76%,1) 0px, transparent 50%);
			width: 30vw;
			height: 30vw;
			
			opacity: 1.0;
		}
		&.bg-02 {
			right: 0;
			bottom: 0;
			transform-origin: right bottom;
			background: radial-gradient(at 100% 100%, rgb(255, 155, 121) 0px, transparent 50%);
			width: 45vw;
			height: 45vw;
			opacity: 0.9;
		}
	}
}




/* =========================================================================  */

/* radial-03 */

/* ========================================================================= */


.radial-03 {
	position: relative;
	width: 100%;
	height: 100%;

	.bg {
		position: absolute;
		&.bg-01 {
			left: 0;
			top: 0;
			transform-origin: left top;
			background: radial-gradient(at 20% 20%, hsla(343,100%,76%,1) 0px, transparent 50%);
			width: 30vw;
			height: 30vw;
			opacity: 1.0;
		}
		&.bg-02 {
			right: 0;
			bottom: 0;
			transform-origin: right bottom;
			background: radial-gradient(at 100% 100%, rgb(255, 155, 121) 0px, transparent 50%);
			width: 45vw;
			height: 45vw;
			opacity: 0.9;
		}
	}
}
