/* =========================================================================  */

/* common */

/* ========================================================================= */

main.main-ripple {
    section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2n+1) {
            background: rgba(255, 250, 246, 0.3);
        }
        &:nth-child(2n) {
            background: rgba(255, 210, 210, 0.3);
        }
        .type {
            position: absolute;
            text-align: center;
            top: 4rem;
            left: 50%;
            transform: translate(-50%, 0);
            .en {
                color: #333;
                font-family: Jost, sans-serif;
                font-weight: 500;
                letter-spacing: 0.1rem;
                font-size: 1.4rem;
            }    
        }

    }
}




/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 1024px～1280px(小型PC)までのモニタで適用	◆

start---------------------------------------------------------------------------- */

@media screen and (width >= 1024px) and (width <= 1280px) {

} /* 1024px～1280px responsive-close */

/* end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/


/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 768px～1023px(iPad縦からiPad横)までのモニタで適用	◆

start---------------------------------------------------------------------------- */

@media screen and (width >= 768px) and (width <= 1023px) {

} /* 768px～1023px responsive-closed */

/* end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/


/**********************************************************************************
 □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 

◆	Stylesheet: 767pxまで(スマホ)のモニタで適用	◆

□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
start---------------------------------------------------------------------------- */
@media screen and (width <= 767px) {

} /* 767px responsive-closed */

/* end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/




