/* =========================================================================  */

/* soft-01 */

/* ========================================================================= */


.soft-01 {
    width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
    span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
        display: block;
		box-shadow: #ee888859 0px 5px 15px;
        background: linear-gradient(45deg, 
            #e37780 0%,
            #ed9c81 100%
        );
		border-radius: 50%;
		width: 20vh;
		height: 20vh;
    }
}

/* =========================================================================  */

/* soft-02 */

/* ========================================================================= */


.soft-02 {
    width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
    span {
		overflow: hidden;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
        display: block;
		box-shadow: #ee888859 0px 5px 15px;
        background: linear-gradient(45deg, 
            #e37780 0%,
            #ed9c81 100%
        );
		width: 500px;
		height: 100px;
		.shine {
			position: absolute;
			opacity: 0.8;
			left: -150%; /* ← ここは初期位置 */
			top: 0;
			transform: skewX(-30deg);
			background: linear-gradient(
				120deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.85) 50%,
				rgba(255, 255, 255, 0) 100%
			);
			mix-blend-mode: overlay;
			width: 150%;
			height: 150%;
			border-radius: 0%;
			pointer-events: none;
		}
    }
}

/* =========================================================================  */

/* soft-03 */

/* ========================================================================= */


.soft-03 {
    width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
    span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
        display: block;
		box-shadow: #ee888859 0px 5px 15px;
        background: linear-gradient(45deg, 
            #e37780 0%,
            #ed9c81 100%
        );
		border-radius: 50%;
		width: 20vh;
		height: 20vh;
		border: dashed 3px #ffe0e2;
    }
}

/* =========================================================================  */

/* soft-04 */

/* ========================================================================= */


.soft-04 {
    width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
    span {
		overflow: hidden;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
        display: block;
		box-shadow: #ee888859 0px 5px 15px;
        background: linear-gradient(45deg, 
            #e37780 0%,
            #ed9c81 100%
        );
		width: 500px;
		height: 100px;

    }
}

/* =========================================================================  */

/* soft-05 */

/* ========================================================================= */


.soft-05 {
    width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
    span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
        display: block;
		box-shadow: #ee888859 0px 5px 15px;
        background: linear-gradient(45deg, 
            #e37780 0%,
            #ed9c81 100%
        );
		border-radius: 50%;
		width: 20vh;
		height: 20vh;
    }
}
